.link {
  font-weight: bold;
  font-size: 19px;
}
nav {
  background-color: #c7e3ef;
}
.sign {
  width: 80px;
  height: 30px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
}
.signUp {
  background-color: #31376a;
  color: #c4bcbc;
}
.signIn {
  background-color: #7ba2ef;
  color: #070a0f;
}
